.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 1px solid rgb(118, 118, 118);
  /* backdrop-filter: blur(4px); */
}

/* .cursor::before,
.cursor::after {
  content: "";
  position: absolute;
  background: white;
}

.cursor::before {
  width: 10px;
  height: 1px;
}

.cursor::after {
  width: 1px;
  height: 10px;
} */
