* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --font-main: "Afacad", sans-serif;
  --font-title: "Bayon", sans-serif;
  /* Pallets */
  --blue: #0bcaf4;
  --white: #ffffff;
  --gray: #888888;
  --black: #202020;
  --dark: #1b1b1b;
  /* Colors */
  --color-primary: var(--blue);
  --color-background: var(--dark);
  --color-on-primary: var(--white);
  --color-secondary: var(--gray);

  /* Tailles de texte */
  --font-size-h1: 3.125rem; /* ≈ 50px */
  --font-size-h2: 3.75rem; /* 60px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-sm: 1rem; /* 16px */
}

body {
  font-family: var(--font-main);
  color: var(--color-on-primary);
  background-color: var(--color-background);
}

.background-noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background-noise.svg");
  background-repeat: repeat;
  opacity: 0.05;
  pointer-events: none;
  z-index: 1;
}
