section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

table {
  margin-top: 20px;
  width: 80%;
  border-collapse: collapse;
}
thead {
  border-bottom: 1px solid #333333;
}
th {
  padding: 10px 20px;
  color: white;
  text-align: left;
}

td {
  padding: 15px 20px;
  transition: all 0.2s ease;
}

tr {
  border-radius: 10px;
  margin-bottom: 20px;
  color: #aaaaaa;
}

tbody tr td:first-child {
  border-left: 3px solid transparent;
}
tbody tr:hover td {
  background: #333;
  color: white;
}

tbody tr:hover td:first-child {
  border-left: 3px solid var(--color-primary);
}

tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon-trash {
  background-image: url("./../../assets/icons/trash.svg");
  width: 18px;
  height: 18px;
}

.container-trash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}
.container-trash:hover {
  background-color: #581a1a;
}
