<app-navbar></app-navbar>
<section>
    <!-- <div class="title">
        <h1>Admin Panel</h1>
        <app-searchbar></app-searchbar>
        <p>Total users {{users.length}}</p>
    </div> -->

    <table>
        <thead>
            <tr>
                <th (click)="sortBy('firstname')">Name</th>
                <th (click)="sortBy('email')">Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track user.id) {
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="container-trash mouse-pointer" (click)="onDeleteUser(user.id)">
                        <div class="icon-trash mouse-pointer"></div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>