section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #7b7b7b;
  color: var(--color-on-primary);
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-primary);
}

input:focus::placeholder {
  color: var(--color-on-primary);
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

form h1 {
  text-align: center;
  font-size: 2.125rem;
  margin-bottom: 40px;
}

.image-icon {
  position: relative;
  bottom: 35px;
  left: 275px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 90% 70%;
}

.eye {
  background-image: url("./../../../assets/icons/eye.svg");
}
.eye-off {
  background-image: url("./../../../assets/icons/eye-off.svg");
}

.submit {
  cursor: pointer;
  background-color: var(--color-on-primary);
  color: var(--dark);
  text-align: center;
  height: 40px;
  border-radius: 999px;
  border: var(--color-on-primary) solid 1px;
  transition: 0.2s ease;
}

.submit:hover {
  cursor: pointer;
  background-color: var(--dark);
  color: var(--color-on-primary);
  text-align: center;
  height: 40px;
  border-radius: 999px;
  border: var(--color-on-primary) solid 0.5px;
}

hr {
  margin-top: 40px;
  border: none;
  height: 2px;
  background-color: var(--color-secondary);
}

.details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.details a {
  display: inline-block;
  font-size: var(--font-size-sm);
  color: var(--color-on-primary);
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
  border-bottom: 1px solid var(--color-on-primary);
}

.error {
  color: #fa635c;
  position: relative;
  bottom: 5px;
  font-size: 0.75rem;
}
.error-input {
  border-bottom: 1px solid #fa635c;
}
.error-password {
  position: relative;
  bottom: 25px;
}

.group {
  position: relative;
  margin-bottom: 10px;
}

label {
  position: absolute;
  left: 0px;
  top: 5px;
  color: #7b7b7b;
  transition: 0.2s ease all;
  z-index: -1;
}

.input:focus ~ label,
.input.filled ~ label {
  top: -10px;
  color: #0bcaf4;
}
